<!-- Modal -->
<div class="modal fade" id="uploadStoryModal" tabindex="-1" role="dialog" aria-labelledby="uploadStoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadStoryModalLabel">Create Story</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-story">
        <%= form_with(model: story, local: true, multipart: true) do |form| %>
        <div class="modal-body">
          <% if story.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

            <ul>
              <% story.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <div class="mb-6">
            <%= form.label :title %>
            <%= form.text_field :title, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :description %>
            <%= form.text_area :description, class: "form-control" %>
          </div>

          <div class="mb-3 py-1 maps-autocomplete">
            <%= form.label :location %>
            <input id="searchTextField" type="text" size="50" class="form-control">
          </div>

          <%= form.hidden_field :location %>
          <%= form.hidden_field :latitude  %>
          <%= form.hidden_field :longitude %>


          <div class="mb-6">
            <%= form.label :picture %>
            <%= form.file_field :picture, class: "form-control dropzone" %>
          </div>
          <br />
        </div>
      </div>
      <div class="modal-footer">
        <div class="mb-6">
          <%= form.submit  class: "btn-primary btn btn-lg" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function initialize() {
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
  
    autocomplete.addListener('place_changed', function() {

      var place = autocomplete.getPlace();

      if (!place.geometry) {
        // User entered the name of a Place that was not suggested and
        // pressed the Enter key, or the Place Details request failed.
        console.log('User entered: ' + place.name);
        return;
      }

      console.log('You selected: ' + place.geometry.location.lat());
      document.getElementById('story_latitude').value = place.geometry.location.lat();
      document.getElementById('story_longitude').value = place.geometry.location.lng();
      document.getElementById('story_location').value = place.formatted_address;

    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_api_key %>&libraries=places&callback=initialize"></script>