<div class="col-m-4">
  <%= link_to story, action: 'go' do %>
    <div class="story-box">
      <div class="story">
        <div class="thumbnail">
          <img class="picture" src="<%= story.picture.url %>" alt="">
          <div class="caption">
            <h3 class="story-title"><%= story.title %></h3>
            <p class="story-description"><%= story.description %></p>
            <p><i class="fe fe-map-pin"></i><%= story.location %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>