<div class="container">
  <div class="form-story">
  <%= form_with(model: @story, local: true, multipart: true) do |form| %>
    <div class="modal-body">
      <% if @story.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

        <ul>
          <% @story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="mb-6">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control", required: true %>
      </div>

      <div class="mb-3 py-1 maps-autocomplete">
        <%= form.label :location %>
        <input id="searchTextField" type="text" size="50" class="form-control" required="true">
      </div>

      <%= form.hidden_field :location %>
      <%= form.hidden_field :latitude  %>
      <%= form.hidden_field :longitude %>

      <div class="mb-6">
        <%= form.label 'Drag drop Image or Video' %>
        <%= form.file_field :attachment, class: "form-control dropzone", required: true %>
      </div>
      <br />
    </div>
    <%= form.submit  class: "btn-purple btn btn-lg" %>
    <% end %>

  </div>
  <%= link_to 'Show', @story %> |
  <%= link_to 'Back', stories_path %>
</div>
<%= render 'maps_autocomplete' %>



