<div class="container mt-5">
  <div id="stories">
    <%- @stories.in_groups_of(3, false).each do |stories| %>
      <div class="row">
        <%- stories.each do |story| %>
          <div class="col-md-4 story-section">
            <%= link_to story, action: 'go' do %>
              <div class="story-box">
                <div class="story">
                   <div class="avatar-tiny">
                    <div class="story-user-section row">
                      <div class="col-sm-3">
                        <%= image_tag story.user.image, class: "rounded-circle" %>
                      </div>
                      <div class="col-sm-7">
                        <div class="row"><%= story.user.full_name %></span></div>
                        <div class="row location"><%= story.short_location %></div>
                      </div>
                    </div>
                  </div>
                  <div class="thumbnail">
                    <%- if story.kind == 'video' %>
                      <%= video_tag story.attachment.url, controls: true, class: 'video' %>
                    <%- elsif story.kind == 'image' %>
                      <img class="picture" src="<%= story.attachment.url %>" alt="">
                    <% end %>
                    <div class="caption">
                      <h3 class="story-title"><%= story.title %></h3>
                      <p  class="story-description"><%= story.description.truncate(50) %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <%- end %>
      </div>
    <%- end %>
  </div>
</div>