<!DOCTYPE html>
<html>
  <head>
    <title>GraphIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-purple">
      <a class="navbar-brand" href="#">Graph It</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/stories">My Stories <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/explore">Explore</a>
          </li>
        </ul>

        <% if user_signed_in? %>
          <ul class="navbar-nav pull-right">
            <li class="nav-item">
              <%= link_to edit_user_registration_path, action: 'go', class: 'nav-link' do %>
                <div class="avatar-tiny">
                  <%= image_tag current_user.image, class: "rounded-circle" %>
                  <%= current_user.first_name.capitalize %>
                </div>
              <% end %>
            </li>
          </ul>
          <ul class="navbar-nav pull-right">
            <li class="nav-item"><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link btn btn-outline'  %></li>
          </ul>
        <% else %>
          <ul class="navbar-nav pull-right">
            <li class="nav-item"><%= link_to "Register", new_user_registration_path, :class => 'nav-link'  %></li>
            <li class="nav=item"><%= link_to "Login", new_user_session_path, :class => 'nav-link'  %></li>
          </ul>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <div class="row text-center">
        <div class="container-fluid col-md-6">
          <% if notice %>
             <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= notice %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% end %>
          <% if alert %>
             <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= alert %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
